<footer class="fixed-bottom py-3 my-2">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a routerLink="" class="nav-link px-2 text-muted">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/registros" class="nav-link px-2 text-muted">Registros</a>
    </li>
    <li class="nav-item">
      <a routerLink="/heatmap" class="nav-link px-2 text-muted">Mapas</a>
    </li>
  </ul>
  <p class="text-center text-muted">© 2024 Wifi Mapping</p>
</footer>