<main role="main" class="container-xl">

  <div class="background-container row position-relative">
    <div class="col-md-6 d-flex flex-column justify-content-center column1">
      <div class="p-5 fs-4 mt-5">
        <h1 class="cover-heading text-dark fw-bold">Bem-vindo ao Wifi Mapping</h1>
        <p class="fs-5">Explore a Cobertura Wi-Fi: Mapeie e Analise a Qualidade do Sinal</p>
        <p class="fs-5">Aqui você pode adicionar e visualizar os diferentes cômodos da sua casa ou empresa</p>
        <p class="fs-5">E analisar a qualidade do sinal Wi-Fi em um mapa de calor interativo.</p>
      </div>
    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-center column2">
      <p class="mt-5">
        <a routerLink="/registros" class="btn btn-lg btn-warning">Comece agora!</a>
      </p>
    </div>
  </div>

</main>
